
#main {
    padding: 6em 0 2em 0;
    z-index: 5000;
    position:relative;
}


section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}


.entry {
    display: inline-block;
    width: 100%;

}

.intro-photo {
    max-width: 48em;
    display: block;
    margin: auto;
    padding: 2em 0 2em 0;
}

.photo-image {
    display: block;
    margin: auto;
    max-width: 70%;
    height:400px;
    object-fit: cover;
}

.gap{
    width:104px;
}

.entry li{
    font-size:18px;
}