#main {
    padding: 6em 0 2em 0;
    z-index: 5000;
    position:relative;
}


section .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}

.entry {
    display: inline-block;
    width: 100%;
    padding-top: 2em;
}


.image-left {
    float: left;
    margin: 0 1.5em 0 0;
    top: 0.25em;
}



.profile-photo {
    width: 126px;
    height: 169px;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .entry {
      font-size: 0.5em;
    }
  
  }