<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8" />
        <title>gallery</title>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='home.css')}}"/>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='gallery.css')}}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    </head>

    <body>

      <header id="header">  
        <div class="innder header_inner">
          <a href="." class="logo">  
            <img class = "logo-image" src="{{ url_for('soda.static', filename='images/soda_logo.png') }}">
          </a>
          <nav id="nav"> 
            <a href="." class="current"> 연구실</a>
            <a href="{{url_for('soda.prof')}}" class> 교수</a>
            <a href="{{url_for('soda.people')}}" class="current_2"> 구성원</a>
            <ul class = "dropdown_2">
              <a href="{{url_for('soda.people')}}" class="detail_2"> 재학생 </a>
              <a href="{{url_for('soda.graduate')}}" class="detail_2"> 졸업생 </a>
            </ul> 
            <a href="{{url_for('soda.public')}}" class> 연구</a>
            <a href="{{url_for('soda.gallery')}}" class> 활동사진</a>
          </nav>
        </div>
      </header>




      <section id="main"> 

        <div class="inner swiper">
          <header class="major"> 
            <h1 style="font-size: 2em; margin: 0 0 0.25em 0;"> </h1>
          </header>
          <br>


          <div class="swiper-wrapper">

            {% for activity in activity_photos %}
            <section class="entry swiper-slide">
              <span class="entry-theme-photo">
                <span class="entry-theme-photo-head">
                  <span class="entry-theme-photo-title">
                    <h2 style="font-size: 1.75em; font-weight: 700; line-height: 1.4; margin:0; padding:0"> {{activity.title}}</h2>
                  </span>
                  <span class="entry-theme-photo-date">
                    <p style="margin:0; padding:0">{{activity.date}}</p>
                  </span>
                </span>               
                <img class="photo-image" src="{{ activity.public_image_url }}"  >

                <span class="entry-theme-photo-head">
                  <span class="entry-theme-photo-date">
                    <p style="font-size: 14px;">  </p>
                    <p style="margin:0; padding:0">참여자: {{activity.people}}</p>
                  </span>
                  <span class="entry-theme-photo-date">
                    <p style="font-size: 14px;">  </p>
                    <p style="margin:0; padding:0">장소:{{activity.venue}}</p>
                  </span>
                </span>
              </span>
            </section>
            {% endfor %}

          </div>
        </div>

      </section>
      <br>
      <br>
      <br>

      <section id = "footer">
        <div class = "inner">
          <strong>SoDALAB, 산업경영정보공학과, 경기대학교</strong>
          <br>
          <a>5층 506호, 제2공학관, 수원 캠퍼스, 경기대학교</a>
          <br>
          <a> (16227) 광교, 수원시, 경기도 154-42, 대한민국 </a>
          <br>
          <a> COPYRIGHT ⓒ2025 Graduate School of KGU. SoDALAB. All rights reserved</a>
        </div>
      </section>


  </body>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>

    new Swiper('.swiper', {
    autoHeight:true,
    loop: true,
    spaceBetween: 30,
    autoplay:{delay:3000,},

    });



      document.addEventListener("DOMContentLoaded", () => {
          const nav = document.getElementById("nav");
          const currentLink_2 = nav.querySelector(".current_2");
          const dropdown_2 = nav.querySelector(".dropdown_2");


          currentLink_2.addEventListener("click", (e) => {
            e.preventDefault(); 
            dropdown_2.style.display = dropdown_2.style.display === "block" ? "none" : "block";
            });

          
          document.addEventListener("click", (e) => {
            if (!nav.contains(e.target)) {
              dropdown_2.style.display = "none";
            }
          });

        });

    </script>
    
</html>