<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8" />
        <title>people</title>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='home.css')}}"/>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='people.css')}}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <body>
        
        <header id="header">  
            <div class="innder header_inner">
              <a href="." class="logo">  
                <img class = "logo-image" src="{{ url_for('soda.static', filename='images/soda_logo.png') }}">
              </a>
              <nav id="nav"> 
                <a href="." class="current"> 연구실</a>
                <a href="{{url_for('soda.prof')}}" class> 교수</a>
                <a href="{{url_for('soda.people')}}" class="current_2"> 구성원</a>
                <ul class = "dropdown_2">
                  <a href="{{url_for('soda.people')}}" class="detail_2"> 재학생 </a>
                  <a href="{{url_for('soda.graduate')}}" class="detail_2"> 졸업생 </a>
                </ul> 
                <a href="{{url_for('soda.public')}}" class> 연구</a>
                <a href="{{url_for('soda.gallery')}}" class> 활동사진</a>
              </nav>
            </div>
          </header>

 
 
        <section id="main"> 
            <div class="inner">
                <header class="major"> 
                    <h1 style="font-size: 2em; margin: 0 0 0.25em 0;"> 구성원</h1>
                </header>
        
                <section> 
                    <h3 style="font-size: 1.35em;  font-weight: 700; line-height: 1.4;">졸업생</h3>



                    {% for past_member  in past_members %}
                    <div class="entry">
                        <span class="image-left"> 
                            <img class="profile-photo" src="{{ past_member.public_image_url }}"> 
                        </span>
                        <h4 style="font-size: 1.1em;  font-weight: 700; line-height: 1.4; margin: 0; padding: 0;"> {{past_member.member}}</h4>
                        <div style="padding-top:10px;"> {{past_member.degree}} </div>
                        <div style="font-size:0.95em"> {{past_member.department}} </div>
                        <div style="font-size:0.95em"> E-mail: {{past_member.email}}  </div>
                        <div style="font-size:0.95em"> 소속: {{past_member.affiliation}} </div>
                    </div>

                    
                    <div style="font-size:0.95em; padding-bottom:1em">
                        <ul style="margin:0; padding-left:1em">
                            <p style="font-size: 14px;">  </p>
                            {% for member_spec in member_specs %}
                            
                                {%if member_spec.member == past_member.member%} 
                                    <li>
                                        {{ member_spec.people }} "{{member_spec.title}}", {{member_spec.organi}}, {{member_spec.date}} <span style="color:red;">{{member_spec.price}}</span> 
                                    </li>
                                {% endif %}
                            
                            {% endfor %}
                            </li>
      
                        </ul>
                    </div>


                    {% endfor %}


                </section>

            </div>
        </section>



        <section id = "footer">
            <div class = "inner">
              <strong>SoDALAB, 산업경영정보공학과, 경기대학교</strong>
              <br>
              <a>5층 506호, 제2공학관, 수원 캠퍼스, 경기대학교</a>
              <br>
              <a> (16227) 광교, 수원시, 경기도 154-42, 대한민국 </a>
              <br>
              <a> COPYRIGHT ⓒ2025 Graduate School of KGU. SoDALAB. All rights reserved</a>
            </div>
          </section>

    </body>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
          const nav = document.getElementById("nav");
          const currentLink_2 = nav.querySelector(".current_2");
          const dropdown_2 = nav.querySelector(".dropdown_2");


          currentLink_2.addEventListener("click", (e) => {
            e.preventDefault(); 
            dropdown_2.style.display = dropdown_2.style.display === "block" ? "none" : "block";
            });

          
          document.addEventListener("click", (e) => {
            if (!nav.contains(e.target)) {
              dropdown_2.style.display = "none";
            }
          });

        });

    </script>
</html>