<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8" />
        <title>publications</title>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='home.css')}}"/>
        <link rel="stylesheet" href = "{{url_for('soda.static', filename='public.css')}}"/>

    </head>

  
    
    <body>

      <header id="header">  
    
        <div class="innder header_inner">
    
          <a href="." class="logo">  
              <img class = "logo-image" src="{{ url_for('soda.static', filename='images/soda_logo.png') }}"  >
          </a>
          <nav id="nav"> 
            <a href="."> 연구실</a>
            <a href="{{url_for('soda.people')}}" class >  구성원</a>
            <a href="{{url_for('soda.public')}}" class="current"> 연구논문</a>
            <a href="{{url_for('soda.gallery')}}" class > 활동사진</a>
          </nav>
        </div>
      </header>



      <section id="main">
        <div class="inner">
          <header class="major" style="padding-bottom:5px">  
            <h1 style="font-size: 2em; margin: 0 0 0.25em 0;"> 연구논문</h1>
          </header>

          <div class="tabs">
            <label class="tab tab01" onclick="showContent('tab01')">
               전체 
            </label>
            <label class="tab tab02"  onclick="showContent('tab02')">
               학회지 
            </label>
            <label class="tab tab03" onclick="showContent('tab03')">
             학술대회 
            </label>
            <span class="border"></span>
            <span class="background"></span>
          </div>


          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Identifying Key Factors and Proposing Strategies for Promoting Hydrogen Vehicles : A Mixed Methods Approach Using Text Mining and Interviews </h4>
              <p style="margin:0; padding:0;">
                Ki-beom Ryu, Min-Beom Yoon, So-Hyun Lee 
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2024.11
              </p>
              <br>
              <p style="margin:0; padding:0;">
                <a href="https://www.earticle.net/Article/A458528"> paper </a>
              </p>
            </span>
          </section>

          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Studying the Perception and Effectiveness of Elevator TV Advertising: An Experimental Approach and EEG Analysis </h4>
              <p style="margin:0; padding:0;">
                So-hyun Lee, Sang-hyeak Yoon
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2024.09
              </p>
              <br>
              <p style="margin:0; padding:0;">       
                <a href="http://www.earticle.net/Public/View/5/4413304"> paper </a>
              </p>
            </span>
          </section>


          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Development of a Deep Learning Model to Predict Agricultural Product Prices : A Focus on Weather and Economic Variables </h4>
              <p style="margin:0; padding:0;">
                Minjung Yun, Suhyeon Choi, So-Hyun Lee, Hee-Woong Kim
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2024.08
              </p>
              <br>
              <p style="margin:0; padding:0;"> 
                <a href="http://www.earticle.net/Public/View/5/4413304"> paper </a>   
              </p>
            </span>
          </section>



          <section  data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Exploring the Nature of Cybercrime and Countermeasures: Focusing on Copyright Infringement, Gambling, and Pornography Crimes </h4>
              <p style="margin:0; padding:0;">
                Ilwoong Kang, Jaehui Kim, So-hyun Lee, Hee-woong Kim
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2024.06
              </p>
              <br>
              <p style="margin:0; padding:0;">  
                <a href="http://www.earticle.net/Public/View/5/4413304"> paper </a>  
              </p>
            </span>
          </section>


          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Analyzing Key Factors for Metaverse Investment:A Perspective from Fashion Brand Companies
              </h4>
              <p style="margin:0; padding:0;">
                So-Hyun Lee, Mi-Jeong Na, Sang-Hyeak Yoon 
              </p>
              <br>
              <p style="margin:0; padding:0;">
                Korea Society of IT Serviecs, KCI, 2024.04
              </p>
              <br>
              <p style="margin:0; padding:0;">  
                <a href="https://scienceon.kisti.re.kr/srch/selectPORSrchArticle.do?cn=JAKO202422657665689&SITE=CLICK"> paper </a>  
              </p>
            </span>
          </section>



          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Classification of Characteristics in Two-Wheeler Accidents Using Clustering Techniques
              </h4>
              <p style="margin:0; padding:0;">
                Heo Won-jin, Kang Jin-ho, Lee So-hyun
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2024.03
              </p>
              <br>
              <p style="margin:0; padding:0;">  
                <a href="http://www.earticle.net/Public/View/5/4351996"> paper </a>  
              </p>
            </span>
          </section>



          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Location Classification and Its Utilization for Illegal Parking Enforcement : Focusing on the Case of Gyeonggi
              </h4>
              <p style="margin:0; padding:0;">
                Hyeon Han, So-yeon Choe, So-Hyun Lee
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2023.11
              </p>
              <br>
              <p style="margin:0; padding:0;">  
                <a href="https://www.earticle.net/Article/A438809"> paper </a>  
              </p>
            </span>
          </section>

          <section data-tab="tab02" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">Identification of Employee Experience Factors and Their Influence on Job Satisfaction

              </h4>
              <p style="margin:0; padding:0;">
                Juhyeon Lee, So-Hyun Lee, Hee-Woong Kim 
              </p>
              <br>
              <p style="margin:0; padding:0;">
                The Korea Society of Management information Systems, KCI, 2023.05
              </p>
              <br>
              <p style="margin:0; padding:0;">  
                <a href="https://www.earticle.net/Article/A431416"> paper </a>  
              </p>
            </span>
          </section>

          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;"> Designing Effective Elevator TV Ads: An Experimental Approach to Visual Complexity and information accessibility Integration
              </h4>
              <p style="margin:0; padding:0;">
                윤상혁 ,이소현, 송민호(발표자) 
              </p>
              <br>
              <p style="margin:0; padding:0;">
                KrAIS PostICIS. 2024.
              </p>
            </span>
          </section>

          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">이커머스 플랫폼에서 리뷰와 평점 불일치 문제 해결: 감성 분석

              </h4>
              <p style="margin:0; padding:0;">
                 양태성(발표자), 최재성, 윤민범, 이소현
              </p>
              <br>
              <p style="margin:0; padding:0;">
                한국경영정보학회 추계학술대회. 2024.
              </p>
          
            </span>
          </section>


          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">미래 전력 수요 예측: AI, 데이터센터 확산 및 전기차 보급률의 변수화

              </h4>
              <p style="margin:0; padding:0;">
                강진호(발표자), 송민호, 이소현
              </p>
              <br>
              <p style="margin:0; padding:0;">
                지능정보시스템학회 추계학술대회. 2024.
              </p>
            </span>
          </section>


          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">수소차 활성화를 위한 주요 요인 도출: 혼합연구방법론

              </h4>
              <p style="margin:0; padding:0;">
                류기범, 윤민범(발표자), 이소현
              </p>
              <br>
              <p style="margin:0; padding:0;">
                한국경영정보학회 춘계학술대회. 2024.
              </p>
            </span>
          </section>


          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">생성형 AI의 윤리적 이슈 도출 및 가이드라인 제안: 토픽모델링을 활용

              </h4>
              <p style="margin:0; padding:0;">
                강진호(발표자), 송민호, 이소현
              </p>
              <br>
              <p style="margin:0; padding:0;">
                한국경영정보학회 춘계학술대회. 2024.
              </p>
            </span>
          </section>



          <section data-tab="tab03" class="entry entry-theme" style="display: block;">
            <span class="publication-content"> 
              <h4 style="font-size: 1.1em; font-weight: 700; line-height: 1.4; margin:0; padding:0;">ODR 서비스차량 지연 시 대기허용범위 확대를 위한 주요 요인 도출 : 텍스트 마이닝 기법
              </h4>
              <p style="margin:0; padding:0;">
                송민호(발표자), 강진호, 이소현
              </p>
              <br>
              <p style="margin:0; padding:0;">
                한국스마트미디어학회&한국전자거래학회 춘계학술대회. 2024.
              </p>
            </span>
          </section>


        </div>    


      </section>



      <section id = "footer">
        <div class = "inner">
          <strong>SoDALAB, 산업경영공학과, 경기대학교</strong>
          <br>
          <a>5층 506호, 제2공학관, 수원 캠퍼스, 경기대학교</a>
          <br>
          <a> (16227) 광교, 수원시, 경기도 154-42, 대한민국 </a>
          <br>
          <a> COPYRIGHT ⓒ2025 Graduate School of KGU. SoDALAB. All rights reserved</a>
        </div>
      </section>


      <script>


        function showContent(tabId) {
          
          const border = document.querySelector('.tabs .border');
          const background = document.querySelector('.tabs .background');

          const targetSections = document.querySelectorAll(`.entry.entry-theme[data-tab="${tabId}"]`);
          
          if (tabId== 'tab02' || tabId== 'tab03'){
            const sections = document.querySelectorAll('.entry.entry-theme');
            sections.forEach((section) => {
              section.style.display = 'none';
            });
          }
          
          else{
            const sections = document.querySelectorAll('.entry.entry-theme');
            sections.forEach((section) => {
              section.style.display = 'block';
            });
          }


          // 선택한 섹션만 표시
        
          targetSections.forEach((section) => {
            section.style.display = 'block';});
      
          // 탭 이동 효과 처리

          switch (tabId) {
            case 'tab01':
              border.style.transform = 'translateX(0)';
              background.style.transform = 'translateX(0)';
              break;
            case 'tab02':
              border.style.transform = 'translateX(90px)';
              background.style.transform = 'translateX(90px)';
              break;
            case 'tab03':
              border.style.transform = 'translateX(180px)';
              background.style.transform = 'translateX(180px)';
              break;
            default:
              break;
          }
        }
      </script>

  </body>
</html>